.input {
  width: 100%;
  max-width: 100%;
  padding-left: 10px;
  transition: all 150ms ease-out;
  &:hover,
  &:active,
  &:focus {
    border-color: var(--brand);
    outline: none;
    box-shadow: 0 0 0 4px var(--brandTinted);
  }
}

.inputWrapper {
  position: relative;
}

.inputIcon {
  position: absolute;
  top: 50%;
  right: 14px;
  width: 18px;
  transform: translateY(calc(-50% - 1px));

  circle,
  line {
    opacity: 0.6;
    stroke: var(--text);
  }
}

.tagWrapper {
  position: relative;
  margin-top: 30px;
}

.font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}
.gap-1 {
  grid-gap: 0.25rem;
  gap: 0.25rem;
}

.tagList {
  composes: font-mono gap-1;
  display: flex;
  flex-wrap: wrap;
}
